{% extends "base.html" %}

{% block content %}
    <h2>Skills</h2>
    <li>Python</li>
    <li>Flask</li>
    <li>SQL and SQLite</li>
    <li>Data Analysis (Pandas, Matplotlib and Seaborn)</li>
    <li>Version Control (Git and GitHub)</li>
    <li>Django</li>
    <li>Linux System Administration</li>
    <h2>Testimonials</h2>
    <div class="testimonial">
        <blockquote>
            "Evans is a dedicated backend developer with a great sense of problem-solving and attention to detail. Always a pleasure to collaborate with."
        </blockquote>
        <p>- Kiprotich Mibey, DevOps Engineer</p>
    </div>
    <div class="testimonial">
        <blockquote>
            "He helped automate our daily server logs using Bash - saved us hours of manual work each week!"
        </blockquote>
        <p>- Frank Bett, System Admin</p>
    </div>




{% endblock %}